---
import Button from "@/components/ui/Button.astro";
import { url } from "@/utils/url";
import heroBg from "@/assets/hero-bg.webp";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  bgText: string;
}

const { title, description, bgText } = Astro.props;
---

<main
  class="relative flex flex-grow items-center justify-center overflow-hidden bg-white pb-12 pt-20"
>
  {/* Background Pattern (Same as Hero) */}
  <div class="absolute inset-0 z-0">
    <Image
      src={heroBg}
      alt=""
      class="pointer-events-none absolute inset-0 h-full w-full select-none object-cover opacity-30"
    />
    <div
      class="pointer-events-none absolute inset-0 bg-gradient-to-b from-white/80 via-white/50 to-transparent"
    >
    </div>
  </div>
  <div
    class="container relative z-10 mx-auto flex max-w-7xl flex-col items-center space-y-8 px-4 text-center md:px-6"
  >
    <div
      class="text-navy/5 animate-pulse select-none font-display text-[12rem] font-black leading-none"
    >
      {bgText}
    </div>

    <div class="-mt-12 space-y-6">
      <h1
        class="font-display text-4xl font-bold uppercase tracking-tight text-navy md:text-5xl"
      >
        {title}
      </h1>
      <p
        class="text-navy/60 mx-auto max-w-md whitespace-pre-line font-sans text-lg"
      >
        {description}
      </p>

      <div class="pt-4">
        <Button
          href={url("/")}
          variant="primary"
          size="lg"
          className="rounded-full uppercase shadow-xl"
        >
          На главную
        </Button>
      </div>
    </div>
  </div>
</main>
