---
import RootLayout from "./RootLayout.astro";
import LandingHeader from "@/components/layout/LandingHeader.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { url } from "@/utils/url";

interface Props {
  title?: string;
  description?: string;
  schemaData?: Record<string, any>;
}

const { title, description, schemaData } = Astro.props;
const isHomePage = Astro.url.pathname === url("/") || Astro.url.pathname === "/" || Astro.url.pathname === url("") || Astro.url.pathname === "";
---

<RootLayout title={title} description={description} schemaData={schemaData}>
  {isHomePage ? <LandingHeader /> : <Header />}
  <main transition:animate="fade">
    <slot />
  </main>
  <Footer />
</RootLayout>
