---
import RootLayout from "./RootLayout.astro";
import LandingHeader from "@/components/layout/LandingHeader.astro";
import Footer from "@/components/layout/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  schemaData?: Record<string, any>;
}

const { title, description, schemaData } = Astro.props;
---

<RootLayout title={title} description={description} schemaData={schemaData}>
  <LandingHeader />
  <main>
    <slot />
  </main>
  <Footer />
</RootLayout>
